#IntroductionContainer{
    width: 100%;   
    background-color: #F7F3E9;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 128px;
}
.introductionVideo{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: teal;
}
.introductionVideo iframe{
    padding: 24px;
    border-radius: 16px;
}
.introductionDescription{
    flex: 1;
    margin: 72px;
}