*{
  margin :0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}
body{
  color: #F7F3E9;
}
.primaryBC{
  background-color: #F05945;
}
.primaryT{
  color: #F05945;
}
.secondBC{
  background-color: #00878F;;
}
.secondT{
  color: #00878F;
}
.baseBC{
  background-color: #F7F3E9;
}
.baseT{
  color: #1a1a1a;
}